/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .container{
        width: 50%;
        margin: 0 auto;
    }
 }

.selector-for-some-widget {
    box-sizing: content-box;
  }

.navbar a{
    font-size: 40px;
    padding: 0;
}

.contact h3{
    font-size: 50px;
}